<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ g.title }}</title>

  <!-- Custom fonts for this template-->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <img src="static/img/corp_icon.png" style="width: 35px; height: 35px; filter: grayscale(100%) invert(100%) brightness(300%)">
        </div>
        <div class="sidebar-brand-text mx-3">

          <img src="static/img/corp_name.png" style="width: 110px; height: 30px; filter: invert(100%)">
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item {{ g.tab_dashboard }}">
        <a class="nav-link" href="dashboard.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>管理后台</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Products -->
      <li class="nav-item {{ g.tab_products }}">
        <a class="nav-link" href="products.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>产品数据</span></a>
      </li>

      <!-- Nav Item - Strategies -->
      <li class="nav-item {{ g.tab_strategies }}">
        <a class="nav-link" href="strategies.html">
          <i class="fas fa-fw fa-table"></i>
          <span>策略数据</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-clipboard-check"></i>
          <span>特色数据</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">特色数据: </h6>
            <a class="collapse-item" href="xwlb.html">XWLB统计</a>
            <a class="collapse-item" href="#">指数估值水平</a>
            <a class="collapse-item" href="#">房产交易情况</a>
            <a class="collapse-item" href="#">餐饮业数据</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTestPages" aria-expanded="true" aria-controls="collapseTestPages">
          <i class="fas fa-fw fa-cog"></i>
          <span>测试页面</span>
        </a>
        <div id="collapseTestPages" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">测试页面: </h6>
            <a class="collapse-item" href="#">测试页-1</a>
            <a class="collapse-item" href="#">测试页-2</a>
            <a class="collapse-item" href="#">测试页-3</a>
            <a class="collapse-item" href="#">测试页-4</a>
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Date-picker to update Start Date -->
          <div class="d-inline-flex col-sm-6 col-lg-4">
              <p class="d-none d-lg-block" style="margin-top: 7px; margin-bottom: 0px; padding-right: 10px">起始日期:</p>
              <input data-date-format="yyyy/mm/dd" id="datepicker" class="border-0" style="width: 100px;">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="search_button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
          </div>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">管理员</span>
                <img class="img-profile rounded-circle" src="https://img.icons8.com/wired/2x/admin-settings-male.png">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        {% block page_content %}
        {% endblock %}

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <p style="line-height: 1.2; width: 100%;">本页面所有内容仅供参考。作者不应被视为游说任何阅读者执行任何交易。任何人因使用本文内容进行相关操作而产生的风险及损失由使用者自行承担，作者不承担任何责任。作者尽力严谨处理本内容所载资料，但并不就其准确性作出保证，作者并不就该等内容之任何错误或遗漏承担责任（包括任何第三者责任）。本页面所载资料受版权保护，未经过作者事前书面同意，不可对此等材料的任何部分有下列违约和/或侵权行为，该行为包括但不限于修改、翻版、储存于检索系统、传送、复制、分发或以任何其它方式作商业或公共用途。对于侵犯作者利益之行为，作者保留追究相关方责任的权利。投资有风险，交易需谨慎。</p>
            <br>
            <span>Copyright &copy; 储贺投资 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/moment/js/moment.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap-datepicker.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="static/vendor/moment/js/moment.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="static/vendor/chart.js/Chart.min.js"></script>

  {% block custom_js_scripts %}
  {% endblock %}

</body>

</html>
