{% extends "base.html" %}


{% block page_content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">大小盘策略</h1>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-12">

              <!-- 大小盘 - 快 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">大小盘-快策略</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" style="height: 350px">
                    <canvas id="大小盘-快-净值"></canvas>
                  </div>
                  <div class="chart-area" style="height: 120px">
                    <canvas id="大小盘-快-回撤"></canvas>
                  </div>
                  <div class="chart-area" style="height: 200px">
                    <canvas id="大小盘-快-正确率"></canvas>
                  </div>
                  <hr>
                  风险提示：回测不能100%反映现实情况，作者不应被视为游说任何阅读者执行任何交易。投资有风险，交易需谨慎。
                </div>
              </div>

              <!-- 大小盘 - 快带量 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">大小盘-快带量策略</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" style="height: 350px">
                    <canvas id="大小盘-快带量-净值"></canvas>
                  </div>
                  <div class="chart-area" style="height: 120px">
                    <canvas id="大小盘-快带量-回撤"></canvas>
                  </div>
                  <div class="chart-area" style="height: 200px">
                    <canvas id="大小盘-快带量-正确率"></canvas>
                  </div>
                  <hr>
                  风险提示：回测不能100%反映现实情况，作者不应被视为游说任何阅读者执行任何交易。投资有风险，交易需谨慎。
                </div>
              </div>

              <!-- 大小盘 - 快集成 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">大小盘-快集成策略</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" style="height: 350px">
                    <canvas id="大小盘-快集成-净值"></canvas>
                  </div>
                  <div class="chart-area" style="height: 120px">
                    <canvas id="大小盘-快集成-回撤"></canvas>
                  </div>
                  <div class="chart-area" style="height: 200px">
                    <canvas id="大小盘-快集成-正确率"></canvas>
                  </div>
                  <hr>
                  风险提示：回测不能100%反映现实情况，作者不应被视为游说任何阅读者执行任何交易。投资有风险，交易需谨慎。
                </div>
              </div>

              <!-- 大小盘 - 慢 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">大小盘-慢</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" style="height: 350px">
                    <canvas id="大小盘-慢-净值"></canvas>
                  </div>
                  <div class="chart-area" style="height: 120px">
                    <canvas id="大小盘-慢-回撤"></canvas>
                  </div>
                  <div class="chart-area" style="height: 200px">
                    <canvas id="大小盘-慢-正确率"></canvas>
                  </div>
                  <hr>
                  风险提示：回测不能100%反映现实情况，作者不应被视为游说任何阅读者执行任何交易。投资有风险，交易需谨慎。
                </div>
              </div>

            </div>

          </div>

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">指数择时策略</h1>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-12">

              <!-- 指数择时 - 带量 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">指数择时策略</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" style="height: 350px">
                    <canvas id="指数择时-净值"></canvas>
                  </div>
                  <div class="chart-area" style="height: 120px">
                    <canvas id="指数择时-回撤"></canvas>
                  </div>
                  <div class="chart-area" style="height: 200px">
                    <canvas id="指数择时-正确率"></canvas>
                  </div>
                  <hr>
                  风险提示：回测不能100%反映现实情况，作者不应被视为游说任何阅读者执行任何交易。投资有风险，交易需谨慎。
                </div>
              </div>

              <!-- 指数择时 - 集成 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">指数择时-集成策略</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" style="height: 350px">
                    <canvas id="指数择时-集成-净值"></canvas>
                  </div>
                  <div class="chart-area" style="height: 120px">
                    <canvas id="指数择时-集成-回撤"></canvas>
                  </div>
                  <div class="chart-area" style="height: 200px">
                    <canvas id="指数择时-集成-正确率"></canvas>
                  </div>
                  <hr>
                  风险提示：回测不能100%反映现实情况，作者不应被视为游说任何阅读者执行任何交易。投资有风险，交易需谨慎。
                </div>
              </div>

            </div>

          </div>

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">资金情绪策略</h1>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-12">

              <!-- 资金情绪 - 高波 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">资金情绪-高波策略</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" style="height: 350px">
                    <canvas id="资金情绪-高波-净值"></canvas>
                  </div>
                  <div class="chart-area" style="height: 120px">
                    <canvas id="资金情绪-高波-回撤"></canvas>
                  </div>
                  <div class="chart-area" style="height: 200px">
                    <canvas id="资金情绪-高波-正确率"></canvas>
                  </div>
                  <hr>
                  风险提示：回测不能100%反映现实情况，作者不应被视为游说任何阅读者执行任何交易。投资有风险，交易需谨慎。
                </div>
              </div>

              <!-- 资金情绪 - 中波 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">资金情绪-中波策略</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" style="height: 350px">
                    <canvas id="资金情绪-中波-净值"></canvas>
                  </div>
                  <div class="chart-area" style="height: 120px">
                    <canvas id="资金情绪-中波-回撤"></canvas>
                  </div>
                  <div class="chart-area" style="height: 200px">
                    <canvas id="资金情绪-中波-正确率"></canvas>
                  </div>
                  <hr>
                  风险提示：回测不能100%反映现实情况，作者不应被视为游说任何阅读者执行任何交易。投资有风险，交易需谨慎。
                </div>
              </div>

              <!-- 资金情绪 - 低波 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">资金情绪-低波策略</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" style="height: 350px">
                    <canvas id="资金情绪-低波-净值"></canvas>
                  </div>
                  <div class="chart-area" style="height: 120px">
                    <canvas id="资金情绪-低波-回撤"></canvas>
                  </div>
                  <div class="chart-area" style="height: 200px">
                    <canvas id="资金情绪-低波-正确率"></canvas>
                  </div>
                  <hr>
                  风险提示：回测不能100%反映现实情况，作者不应被视为游说任何阅读者执行任何交易。投资有风险，交易需谨慎。
                </div>
              </div>

            </div>

          </div>

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">SVM量价策略</h1>

          <!-- Content Row -->
          <div class="row">

            <div class="col-xl-12">

              <!-- SVM 量价 -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">SVM量价策略</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area" style="height: 350px">
                    <canvas id="SVM量价-净值"></canvas>
                  </div>
                  <div class="chart-area" style="height: 120px">
                    <canvas id="SVM量价-回撤"></canvas>
                  </div>
                  <div class="chart-area" style="height: 200px">
                    <canvas id="SVM量价-正确率"></canvas>
                  </div>
                  <hr>
                  风险提示：回测不能100%反映现实情况，作者不应被视为游说任何阅读者执行任何交易。投资有风险，交易需谨慎。
                </div>
              </div>

            </div>

          </div>

        </div>
    <!-- /.container-fluid -->
{% endblock %}


{% block custom_js_scripts %}
    <!-- Page level custom scripts -->
    <script src="static/js/demo/strategy_performance_new.js"></script>
{% endblock %}
